/* General Stuff */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: #272829;
  background-color: #413c3b;
}
  
h1, h2, h3{
  font-family: "Raleway", sans-serif;
}

#main {
  margin-left: 250px;
}

.prof-pic-rounded{
  border-radius: 3%;
}

/* Header Stuff */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #413c3b;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 5px solid #8ca26c;
}

#header .profile h3 {
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #fff
}

#header .profile h3 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .media-links a {
  font-size: 18px;
  display: inline-block;
  background: #8ca26c;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 10%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #c0cb6f;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1199px) {
  #header {
    left: -250px;
  }
  #main {
    margin-left: 0;
  }
}

/* Nav Menu */
.nav-menu {
  padding-top: 20px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 12px 15px;
  margin-bottom: 5px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #8ca26c;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #c0cb6f;
}

.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: #c0cb6f;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #8ca26c;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* General Section Stuff */
section {
  padding: 60px;
  overflow: hidden;
}

.section-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-title h3{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}

.section-title h3::after{
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 5px;
  background: #8ca26c;
  bottom: 0;
  left: 0;
}

/* Hero */
#hero {
  width: 100%;
  height: 100vh;
  background: url("assets/img/hero-bg.jpg") center;
  background-size: cover;
  opacity: 1;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #413c3b;
}

#hero p {
  color: #413c3b;
  margin-bottom: 50px;
  font-size: 26px;
}

/* About */
#about {
  width: 100%;
  background-color: #413c3b;
  color: #fff;
}

#about p {
  font-size: 20px;
}

.skill-list{
  list-style: none;
}

.skill-list > li {
  font-size: 20px;
  padding-bottom: 20px;
}

/* Projects */
#projects {
  width: 100%;
  background-color: #413c3b;
}

#projects h2{
  color: #fff;
}

#projects p{
  color: #fff;
  font-size: 20px;
}

#projects img{
  border-radius: 10px;
}

#projects .project-img{
  border-radius: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}